<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tasks">

    <!-- Los permisos deben ir aquí -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="tasks"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Aquí van los demás elementos, pero NO <uses-permission> -->
        
    </application>
</manifest>

